@using Aurora_Project.Models.Bikes;
@model IEnumerable<BikeIndexViewModel>

@{
    ViewData["Title"] = "Bikes";
}

<div class="container my-5">

    <h1 class="">Bikes</h1>

    <hr />

    <div>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </div>

    <hr />

    <div class="row">
        @foreach (var bike in Model)
        {
            <div class="col-md-3">
                <div class="card custome-card" style="width: 18rem;">
                    <img src="https://media.trekbikes.com/image/upload/f_auto,fl_progressive:semi,q_auto,w_1920,h_1440,c_pad/FuelEX99XX1AXS_23_36956_C_Primary" class="card-img-top bikeCard-img" alt="Bike">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => bike.Brand): @Html.DisplayFor(modelItem => bike.Model)</h5>
                        <div >
                            <a class="text-primary" asp-action="Edit" asp-route-id="@bike.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="text-info mx-2" asp-action="Details" asp-route-id="@bike.Id"><i class="fa-solid fa-circle-info"></i></a>


                           

                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Button trigger modal -->
                            <span class="pointer ms-1 text-danger">
                                <i class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal_@bike.Id</i>
                            </span>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal_@bike.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Bike</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure you want to delete <span class="text-danger">@bike.Brand: @bike.Model</span>?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete" class="mt-3">
                                                <input type="hidden" name="Id" value="@bike.Id" />
                                                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                                <input type="submit" value="Delete" class="btn btn-danger ms-1" />
                                            </form>
                                        </div>

                                    </div>
                                </div>
        }

    </div>
</div>


